{
  "openapi": "3.1.0",
  "info": {
    "title": "TagadaPay API",
    "description": "Public API for TagadaPay integrations including payments, checkout, and subscriptions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.tagadapay.com/api/public/v1",
      "description": "Production Server"
    },
    {
      "url": "https://app.tagadapay.dev/api/public/v1",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Auth" },
    { "name": "Checkout" },
    { "name": "Payments" },
    { "name": "Block Rules" },
    { "name": "Plugins" },
    { "name": "Domains" },
    { "name": "Orders" },
    { "name": "Subscriptions" },
    { "name": "Products" },
    { "name": "Events" },
    { "name": "Customers" },
    { "name": "Payment Instruments" },
    { "name": "Stores" }
  ],
  "paths": {
    "/auth/test": {
      "post": {
        "tags": ["Auth"],
        "summary": "Test authentication",
        "description": "Test if the API key is valid and return user information.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/session": {
      "post": {
        "tags": ["Checkout"],
        "summary": "Initialize checkout session",
        "description": "Creates a new checkout session for a customer.",
        "responses": {
          "200": {
            "description": "Session created"
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": ["Payments"],
        "summary": "Process payment",
        "responses": {
          "200": { "description": "Payment successful" }
        }
      }
    },
    "/block-rules": {
      "get": {
        "tags": ["Block Rules"],
        "summary": "List block rules",
        "responses": {
          "200": { "description": "List of block rules" }
        }
      }
    },
    "/plugins": {
      "get": {
        "tags": ["Plugins"],
        "summary": "List plugins",
        "responses": {
          "200": { "description": "List of plugins" }
        }
      }
    },
    "/domains": {
      "get": {
        "tags": ["Domains"],
        "summary": "List domains",
        "responses": {
          "200": { "description": "List of domains" }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "responses": {
          "200": { "description": "List of orders" }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "List subscriptions",
        "responses": {
          "200": { "description": "List of subscriptions" }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "responses": {
          "200": { "description": "List of products" }
        }
      }
    },
    "/events": {
      "get": {
        "tags": ["Events"],
        "summary": "List events",
        "responses": {
          "200": { "description": "List of events" }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": ["Customers"],
        "summary": "List customers",
        "responses": {
          "200": { "description": "List of customers" }
        }
      }
    },
    "/payment-instruments": {
      "get": {
        "tags": ["Payment Instruments"],
        "summary": "List payment instruments",
        "responses": {
          "200": { "description": "List of payment instruments" }
        }
      }
    },
    "/stores": {
      "get": {
        "tags": ["Stores"],
        "summary": "List stores",
        "responses": {
          "200": { "description": "List of stores" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "user": {
            "type": "object",
            "properties": {
              "id": { "type": "string" },
              "orgId": { "type": "string" },
              "permissions": {
                "type": "array",
                "items": { "type": "string" }
              },
              "account": {
                "type": "object",
                "properties": {
                  "id": { "type": "string" },
                  "name": { "type": "string" }
                }
              }
            }
          }
        }
      }
    }
  }
}