{
  "openapi": "3.1.0",
  "info": {
    "title": "Apptics API",
    "description": "Public API for Apptics integrations including payments, checkout, and subscriptions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://crm.apptics.ai/api/public/v1",
      "description": "Production Server"
    },
    {
      "url": "https://crm.apptics.dev/api/public/v1",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "Checkout"
    },
    {
      "name": "Payments"
    },
    {
      "name": "Block Rules"
    },
    {
      "name": "Plugins"
    },
    {
      "name": "Domains"
    },
    {
      "name": "Orders"
    },
    {
      "name": "Subscriptions"
    },
    {
      "name": "Products"
    },
    {
      "name": "Events"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Payment Instruments"
    },
    {
      "name": "Stores"
    }
  ],
  "paths": {
    "/auth/test": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Test authentication",
        "description": "Test if the API key is valid and return user information.",
        "operationId": "testAuthentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/init": {
      "get": {
        "tags": [
          "Checkout"
        ],
        "summary": "Initialize checkout session",
        "description": "Initialize a checkout session and automatically redirect to the checkout URL. This endpoint works exactly like the current CMS checkout-init page - you can navigate to it with query parameters and it will automatically redirect the browser to the checkout page.\n\nPerfect for direct links, email links, or anywhere you want automatic redirection.\n\n**This endpoint is completely public and requires no authentication.**\n\n**Additional Query Parameters**: Any extra query parameters you add will be automatically forwarded to the checkout URL. This is useful for tracking parameters (utm_source, utm_campaign, etc.) or custom parameters.\n\n**Customer Prefill**: You can prefill customer information to streamline checkout:\n- `customerId`: Link to existing customer account\n- `customerEmail`: Prefill customer email\n- `customerFirstName`: Prefill customer first name\n- `customerLastName`: Prefill customer last name\n- `customerPhone`: Prefill customer phone number\n- `customerTags`: Apply tags to customer (comma-separated or JSON array: \"segment:vip,source:facebook\")\n\n**Checkout Token Forwarding**: Include the checkout token in the final checkout URL:\n- `includeCheckoutToken`: Set to the desired query parameter name (default: \"checkoutToken\")\n- Example: `includeCheckoutToken=checkoutToken` will append `?checkoutToken=ch_abc123` to the checkout URL\n- Example: `includeCheckoutToken=token` will append `?token=ch_abc123` to the checkout URL\n\nExample usage:\n```\nGET /api/public/v1/checkout/init?storeId=store_123&items=[{\"variantId\":\"var_123\",\"quantity\":1}]&currency=USD\n→ Redirects to: [https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz](https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz)\n\nGET /api/public/v1/checkout/init?storeId=store_123&items=[...]&currency=USD&utm_source=email&custom_param=value\n→ Redirects to: [https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz&utm_source=email&custom_param=value](https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz&utm_source=email&custom_param=value)\n\nGET /api/public/v1/checkout/init?storeId=store_123&items=[...]&currency=USD&customerEmail=john@example.com&customerFirstName=John&customerLastName=Doe\n→ Redirects to checkout with customer information prefilled\n```",
        "operationId": "initializeCheckoutSession",
        "parameters": [
          {
            "name": "data",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "storeId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "items",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locale",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cartToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "checkoutUrl",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerId",
            "in": "query",
            "description": "Link to existing customer account",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerEmail",
            "in": "query",
            "description": "Prefill customer email",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerFirstName",
            "in": "query",
            "description": "Prefill customer first name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerLastName",
            "in": "query",
            "description": "Prefill customer last name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerPhone",
            "in": "query",
            "description": "Prefill customer phone number",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customerTags",
            "in": "query",
            "description": "Apply tags to customer",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeCheckoutToken",
            "in": "query",
            "description": "Set to the desired query parameter name to forward the token (e.g. 'token')",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "draft",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "HTTP 302 Redirect to: https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz"
                }
              }
            }
          }
        }
      }
    },
    "/payments": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Process payment",
        "responses": {
          "200": {
            "description": "Payment successful"
          }
        }
      }
    },
    "/block-rules": {
      "get": {
        "tags": [
          "Block Rules"
        ],
        "summary": "List block rules",
        "responses": {
          "200": {
            "description": "List of block rules"
          }
        }
      }
    },
    "/plugins": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "summary": "List plugins",
        "responses": {
          "200": {
            "description": "List of plugins"
          }
        }
      }
    },
    "/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "summary": "List domains",
        "responses": {
          "200": {
            "description": "List of domains"
          }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": [
          "Orders"
        ],
        "summary": "List orders",
        "responses": {
          "200": {
            "description": "List of orders"
          }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": [
          "Subscriptions"
        ],
        "summary": "List subscriptions",
        "responses": {
          "200": {
            "description": "List of subscriptions"
          }
        }
      }
    },
    "/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List products",
        "responses": {
          "200": {
            "description": "List of products"
          }
        }
      }
    },
    "/events": {
      "get": {
        "tags": [
          "Events"
        ],
        "summary": "List events",
        "responses": {
          "200": {
            "description": "List of events"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "responses": {
          "200": {
            "description": "List of customers"
          }
        }
      }
    },
    "/payment-instruments": {
      "get": {
        "tags": [
          "Payment Instruments"
        ],
        "summary": "List payment instruments",
        "responses": {
          "200": {
            "description": "List of payment instruments"
          }
        }
      }
    },
    "/stores": {
      "get": {
        "tags": [
          "Stores"
        ],
        "summary": "List stores",
        "responses": {
          "200": {
            "description": "List of stores"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your API key as: `Bearer <your-api-key>`"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "example": "user_123"
              },
              "orgId": {
                "type": "string",
                "example": "org_456"
              },
              "permissions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "org:admin"
                ]
              },
              "account": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "example": "acc_789"
                  },
                  "name": {
                    "type": "string",
                    "example": "My Account"
                  }
                }
              },
              "isServiceAccount": {
                "type": "boolean",
                "example": false
              },
              "isAccountOwner": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      }
    }
  }
}