{
  "openapi": "3.1.0",
  "info": {
    "title": "Apptics API",
    "description": "Public API for Apptics integrations including payments, checkout, and subscriptions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://crm.apptics.ai/api/public/v1",
      "description": "Production Server"
    },
    {
      "url": "https://crm.apptics.dev/api/public/v1",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Auth" },
    { "name": "Checkout" },
    { "name": "Payments" },
    { "name": "Block Rules" },
    { "name": "Plugins" },
    { "name": "Plugins V2" },
    { "name": "Domains" },
    { "name": "Orders" },
    { "name": "Subscriptions" },
    { "name": "Products" },
    { "name": "Events" },
    { "name": "Customers" },
    { "name": "Payment Instruments" },
    { "name": "Stores" }
  ],
  "paths": {
    "/auth/test": {
      "post": {
        "tags": ["Auth"],
        "summary": "Test authentication",
        "description": "Test if the API key is valid and return user information.",
        "operationId": "testAuthentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/init": {
      "get": {
        "tags": ["Checkout"],
        "summary": "Initialize checkout session",
        "description": "Initialize a checkout session and automatically redirect to the checkout URL. This endpoint works exactly like the current CMS checkout-init page - you can navigate to it with query parameters and it will automatically redirect the browser to the checkout page.\n\nPerfect for direct links, email links, or anywhere you want automatic redirection.\n\n**This endpoint is completely public and requires no authentication.**\n\nExample usage:\n```\nGET /api/public/v1/checkout/init?storeId=store_123&items=[{\"variantId\":\"var_123\",\"quantity\":1}]&currency=USD\n→ Redirects to: [https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz](https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz)\n```",
        "operationId": "initializeCheckoutSession",
        "parameters": [
          { "name": "data", "in": "query", "schema": { "type": "string" } },
          { "name": "storeId", "in": "query", "schema": { "type": "string" } },
          { "name": "items", "in": "query", "schema": { "type": "string" } },
          { "name": "currency", "in": "query", "schema": { "type": "string" } },
          { "name": "locale", "in": "query", "schema": { "type": "string" } },
          { "name": "cartToken", "in": "query", "schema": { "type": "string" } },
          { "name": "returnUrl", "in": "query", "schema": { "type": "string" } },
          { "name": "cid", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "HTTP 302 Redirect to: https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/pay-v2": {
      "post": {
        "tags": ["Checkout"],
        "summary": "Pay checkout session V2",
        "description": "Pay for a checkout session with enhanced control over payment initiation.\n\nThis V2 endpoint provides additional parameters:\n- initiatedBy: Specify whether payment was initiated by 'customer' (default) or 'merchant'\n- source: Specify the payment source, defaults to 'checkout'\n\nThese parameters are used for tracking and analytics purposes.",
        "operationId": "payCheckoutSessionV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checkoutSessionId": { "type": "string" },
                  "paymentInstrumentId": { "type": "string" },
                  "returnUrl": { "type": "string" },
                  "metadata": { 
                    "type": "object",
                    "additionalProperties": {},
                    "default": {}
                  },
                  "draft": { 
                    "type": "boolean",
                    "default": false
                  },
                  "initiatedBy": {
                    "type": "string",
                    "enum": ["customer", "merchant"],
                    "default": "customer"
                  },
                  "source": {
                    "type": "string",
                    "enum": ["upsell", "checkout", "offer", "missing_club", "forced"],
                    "default": "checkout"
                  }
                },
                "required": ["checkoutSessionId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Basic payment",
                  "value": {
                    "checkoutSessionId": "ch_1234567890",
                    "paymentInstrumentId": "pi_1234567890"
                  }
                },
                "withParameters": {
                  "summary": "Payment with custom parameters",
                  "value": {
                    "checkoutSessionId": "ch_1234567890",
                    "paymentInstrumentId": "pi_1234567890",
                    "initiatedBy": "customer",
                    "source": "checkout",
                    "returnUrl": "https://mystore.com/success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful payment",
                    "value": {
                      "order": {
                        "id": "ord_1234567890",
                        "status": "paid",
                        "totalAmount": 2999,
                        "currency": "USD"
                      },
                      "payment": {
                        "id": "pay_1234567890",
                        "status": "succeeded",
                        "amount": 2999,
                        "currency": "USD"
                      },
                      "redirectUrl": "https://mystore.com/thankyou/ord_1234567890"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments": {
      "post": {
        "tags": ["Payments"],
        "summary": "List payments with transactions",
        "description": "List and filter payments with their associated transactions. Supports pagination, sorting, and advanced filtering options.\n\nSupported filters:\n- Store IDs\n- Payment status and sub-status\n- Currency and amount\n- Card details (last4, brand, expiry)\n- Customer information (email, name)\n- Date ranges\n- Dispute status and type",
        "operationId": "listPaymentsWithTransactions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page": { "type": "number" },
                      "pageSize": { "type": "number" }
                    },
                    "required": ["page", "pageSize"],
                    "additionalProperties": false
                  },
                  "useCursor": { "type": "boolean", "default": false },
                  "cursor": { "type": "string" },
                  "sortBy": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "enum": ["id", "accountId", "createdAt", "updatedAt"]
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["asc", "desc"]
                      }
                    },
                    "required": ["field", "direction"],
                    "additionalProperties": false
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "storeIds": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "initiatedBy": {
                        "type": "string",
                        "enum": ["customer", "merchant"]
                      },
                      "status": {
                        "type": "string",
                        "enum": ["pending", "succeeded", "error", "refunded", "declined", "expired", "rejected"]
                      },
                      "currency": {
                        "type": "array",
                        "items": { "type": "string" }
                      },
                      "customer": {
                        "type": "object",
                        "properties": {
                          "fullName": { "type": "string" },
                          "email": { "type": "string" }
                        },
                        "additionalProperties": false
                      }
                    },
                    "additionalProperties": false
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Basic pagination",
                  "value": {
                    "pagination": {
                      "page": 1,
                      "pageSize": 20
                    }
                  }
                },
                "sorting": {
                  "summary": "Sorting example",
                  "value": {
                    "pagination": { "page": 1, "pageSize": 20 },
                    "sortBy": { "field": "createdAt", "direction": "desc" }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "payments": [
                        {
                          "id": "pay_123xyz",
                          "amount": 2999,
                          "currency": "USD",
                          "status": "succeeded",
                          "createdAt": "2024-03-20T10:30:00Z"
                        }
                      ],
                      "total": 1,
                      "pageCount": 1
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "tags": ["Payments"],
        "summary": "Get payment by ID",
        "description": "Retrieve detailed information about a specific payment including transactions and customer data",
        "operationId": "getPaymentById",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Payment details",
                    "value": {
                      "id": "pay_123",
                      "amount": 2999,
                      "currency": "USD",
                      "status": "succeeded",
                      "createdAt": "2024-03-20T10:30:00Z",
                      "customer": {
                        "id": "cus_456",
                        "email": "john@example.com",
                        "firstName": "John",
                        "lastName": "Doe"
                      },
                      "transactions": [
                        {
                          "id": "txn_789",
                          "type": "purchase",
                          "status": "succeeded",
                          "amount": 2999,
                          "currency": "USD"
                        }
                      ],
                      "paymentInstrument": {
                        "type": "card",
                        "card": {
                          "last4": "4242",
                          "brand": "visa",
                          "expYear": 2025,
                          "expMonth": 12
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/process": {
      "post": {
        "tags": ["Payments"],
        "summary": "Process payment",
        "description": "Process a payment using the payment flow system with comprehensive options for different payment scenarios.",
        "operationId": "processPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "orderId": { "type": "string" },
                  "paymentInstrumentId": { "type": "string" },
                  "mode": {
                    "type": "string",
                    "enum": ["purchase", "auth", "capture"],
                    "default": "purchase"
                  },
                  "amount": { 
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "currency": { "type": "string" },
                  "storeId": { "type": "string" },
                  "customerId": { "type": "string" },
                  "initiatedBy": {
                    "type": "string",
                    "enum": ["customer", "merchant"],
                    "default": "customer"
                  },
                  "reasonType": {
                    "type": "string",
                    "enum": ["recurring", "unscheduled", "installment"]
                  },
                  "returnUrl": { 
                    "type": "string", 
                    "format": "uri" 
                  },
                  "draft": { 
                    "type": "boolean",
                    "default": false
                  },
                  "isRetry": { 
                    "type": "boolean",
                    "default": false
                  },
                  "threedsSessionId": { "type": "string" },
                  "subscriptionId": { "type": "string" },
                  "paymentFlowId": { "type": "string" },
                  "paymentId": { "type": "string" }
                },
                "required": ["amount", "currency", "storeId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Basic payment processing",
                  "value": {
                    "paymentInstrumentId": "pi_123",
                    "amount": 2999,
                    "currency": "USD",
                    "storeId": "store_123",
                    "customerId": "cus_456",
                    "mode": "purchase"
                  }
                },
                "subscription": {
                  "summary": "Subscription payment",
                  "value": {
                    "paymentInstrumentId": "pi_123",
                    "amount": 2999,
                    "currency": "USD",
                    "storeId": "store_123",
                    "customerId": "cus_456",
                    "mode": "purchase",
                    "initiatedBy": "merchant",
                    "reasonType": "recurring",
                    "subscriptionId": "sub_123",
                    "isRetry": true
                  }
                },
                "order": {
                  "summary": "Order payment",
                  "value": {
                    "orderId": "ord_123",
                    "paymentInstrumentId": "pi_123",
                    "amount": 2999,
                    "currency": "USD",
                    "storeId": "store_123",
                    "customerId": "cus_456",
                    "mode": "purchase",
                    "returnUrl": "https://example.com/return"
                  }
                },
                "withCustomFlow": {
                  "summary": "Payment with custom flow",
                  "value": {
                    "paymentInstrumentId": "pi_123",
                    "amount": 2999,
                    "currency": "USD",
                    "storeId": "store_123",
                    "customerId": "cus_456",
                    "mode": "purchase",
                    "paymentFlowId": "flow_custom_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful payment processing",
                    "value": {
                      "payment": {
                        "id": "pay_123",
                        "amount": 2999,
                        "currency": "USD",
                        "status": "succeeded",
                        "subStatus": "approved",
                        "requireAction": "none"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/refund": {
      "post": {
        "tags": ["Payments"],
        "summary": "Refund payment",
        "description": "Process a full or partial refund for a payment",
        "operationId": "refundPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentIds": {
                    "type": "array",
                    "items": { "type": "string" }
                  },
                  "amount": { "type": "number" },
                  "refundAll": { "type": "boolean" },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": { "type": "string" }
                  },
                  "cancelSubscription": { "type": "boolean" },
                  "dispute": {
                    "type": "object",
                    "properties": {
                      "disputeStatus": {
                        "type": "string",
                        "enum": [
                          "response-needed", "under-review", "forfeited", "won", 
                          "lost", "unknown", "refunded", "refunded_externally"
                        ]
                      },
                      "disputeType": {
                        "type": "string",
                        "enum": [
                          "information-request", "first-chargeback", "second-chargeback", 
                          "fraud", "ethoca-alert", "verifi-alert", "paypal-claim", 
                          "representment", "rdr"
                        ]
                      },
                      "disputeReasonCode": {
                        "type": "string",
                        "enum": [
                          "0", "00", "1", "2", "3", "4", "5", "6", "7", "8", "9", 
                          "10.1", "10.2", "10.3", "10.4", "10.5", "11.1", "11.2", "11.3", 
                          "12", "12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7", 
                          "13.1", "13.2", "13.3", "13.4", "13.5", "13.6", "13.7", "13.8", "13.9", 
                          "30", "31", "34", "35", "37", "40", "41", "42", "46", "47", "49", 
                          "50", "51", "53", "54", "55", "57", "59", "60", "62", "63", 
                          "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", 
                          "80", "81", "82", "83", "85", "86", "93", "98", "1000", 
                          "2700", "2702", "A", "A01", "A02", "A08", "AL", "AP", "AW", "B", 
                          "C02", "C04", "C05", "C08", "C14", "C18", "C28", "C31", "C32", "CA", "CD", "CR", 
                          "DA", "DP", "DP1", "EX", "F10", "F14", "F22", "F24", "F29", "FR1", "FR4", "FR6", 
                          "IC", "IN", "IS", "LP", "M01", "M10", "M49", "N", "NA", "NC", 
                          "P", "P01", "P03", "P04", "P05", "P07", "P08", "P22", "P23", 
                          "R03", "R13", "RG", "RM", "RN1", "RN2", "SV", "TF", "TNM", 
                          "UA01", "UA02", "UA03", "UA10", "UA11", "UA12", "UA18", 
                          "UA20", "UA21", "UA22", "UA23", "UA28", "UA30", "UA31", "UA32", "UA38", "UA99", 
                          "bank_cannot_process", "credit_not_processed", "customer_initiated", 
                          "debit_not_authorized", "duplicate", "fraudulent", "general", 
                          "incorrect_account_details", "insufficient_funds", "pre-chargeback-alert", 
                          "product_not_received", "product_unacceptable", "subscription_canceled", 
                          "unrecognized"
                        ]
                      },
                      "disputedTransactionId": { "type": "string" },
                      "disputeNote": { "type": "string" }
                    },
                    "required": ["disputeStatus", "disputeType", "disputeReasonCode"],
                    "additionalProperties": false
                  },
                  "blacklistCustomer": { "type": "boolean" }
                },
                "required": ["paymentIds"],
                "additionalProperties": false
              },
              "examples": {
                "full": {
                  "summary": "Full refund",
                  "value": {
                    "paymentIds": ["pay_123xyz"],
                    "refundAll": true,
                    "metadata": {
                      "reason": "Customer request",
                      "initiatedBy": "merchant"
                    }
                  }
                },
                "partial": {
                  "summary": "Partial refund",
                  "value": {
                    "paymentIds": ["pay_123xyz"],
                    "amount": 1500,
                    "metadata": {
                      "reason": "Partial return",
                      "initiatedBy": "merchant"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful refund",
                    "value": {
                      "id": "pay_123xyz",
                      "refundedAmount": 1500,
                      "status": "partially_refunded",
                      "refund": {
                        "id": "ref_456",
                        "amount": 1500,
                        "currency": "USD",
                        "status": "succeeded",
                        "createdAt": "2024-03-20T10:30:00Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/mark-disputed": {
      "post": {
        "tags": ["Payments"],
        "summary": "Mark payment as disputed",
        "description": "Mark a payment as disputed with initial dispute information. This endpoint is used to initiate a dispute on a payment.",
        "operationId": "markPaymentAsDisputed",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": { "type": "string" },
                  "disputeStatus": {
                    "type": "string",
                    "enum": ["response-needed", "under-review", "forfeited", "won", "lost", "unknown", "refunded", "refunded_externally"]
                  },
                  "disputeType": {
                    "type": "string",
                    "enum": ["information-request", "first-chargeback", "second-chargeback", "fraud", "ethoca-alert", "verifi-alert", "paypal-claim", "representment", "rdr"]
                  },
                  "disputeReasonCode": {
                    "type": "string",
                    "enum": [
                      "0", "00", "1", "2", "3", "4", "5", "6", "7", "8", "9", 
                      "10.1", "10.2", "10.3", "10.4", "10.5", "11.1", "11.2", "11.3", 
                      "12", "12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7", 
                      "13.1", "13.2", "13.3", "13.4", "13.5", "13.6", "13.7", "13.8", "13.9", 
                      "30", "31", "34", "35", "37", "40", "41", "42", "46", "47", "49", 
                      "50", "51", "53", "54", "55", "57", "59", "60", "62", "63", 
                      "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", 
                      "80", "81", "82", "83", "85", "86", "93", "98", "1000", 
                      "2700", "2702", "A", "A01", "A02", "A08", "AL", "AP", "AW", "B", 
                      "C02", "C04", "C05", "C08", "C14", "C18", "C28", "C31", "C32", "CA", "CD", "CR", 
                      "DA", "DP", "DP1", "EX", "F10", "F14", "F22", "F24", "F29", "FR1", "FR4", "FR6", 
                      "IC", "IN", "IS", "LP", "M01", "M10", "M49", "N", "NA", "NC", 
                      "P", "P01", "P03", "P04", "P05", "P07", "P08", "P22", "P23", 
                      "R03", "R13", "RG", "RM", "RN1", "RN2", "SV", "TF", "TNM", 
                      "UA01", "UA02", "UA03", "UA10", "UA11", "UA12", "UA18", 
                      "UA20", "UA21", "UA22", "UA23", "UA28", "UA30", "UA31", "UA32", "UA38", "UA99", 
                      "bank_cannot_process", "credit_not_processed", "customer_initiated", 
                      "debit_not_authorized", "duplicate", "fraudulent", "general", 
                      "incorrect_account_details", "insufficient_funds", "pre-chargeback-alert", 
                      "product_not_received", "product_unacceptable", "subscription_canceled", 
                      "unrecognized"
                    ]
                  },
                  "disputedTransactionId": { "type": "string" },
                  "disputeNote": { "type": "string" }
                },
                "required": ["paymentId", "disputeStatus", "disputeType", "disputeReasonCode"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Basic dispute creation",
                  "value": {
                    "paymentId": "pay_123xyz",
                    "disputeStatus": "response-needed",
                    "disputeType": "first-chargeback",
                    "disputeReasonCode": "fraudulent",
                    "disputedTransactionId": "txn_123",
                    "disputeNote": "Customer claims unauthorized transaction"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": "pay_123xyz",
                      "isDisputed": true,
                      "disputeStatus": "response-needed",
                      "disputeType": "first-chargeback",
                      "disputeReasonCode": "fraudulent",
                      "disputedTransactionId": "txn_123",
                      "disputedAt": "2024-03-20T10:30:00Z",
                      "disputeNote": "Customer claims unauthorized transaction"
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/dispute": {
      "post": {
        "tags": ["Payments"],
        "summary": "Update payment dispute status",
        "description": "Update the dispute status of a payment. Supports various dispute statuses including RDR (Rapid Dispute Resolution) and Alert notifications.\n\nAvailable dispute statuses:\n- response-needed: Requires merchant response\n- under-review: Currently being reviewed\n- forfeited: Dispute forfeited\n- won: Dispute won by merchant\n- lost: Dispute lost by merchant\n- unknown: Status unknown\n- rdr: Rapid Dispute Resolution - expedited dispute handling\n- alert: Alert notification",
        "operationId": "updatePaymentDisputeStatus",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": { "type": "string" },
                  "disputeStatus": {
                    "type": "string",
                    "enum": ["response-needed", "under-review", "forfeited", "won", "lost", "unknown", "refunded", "refunded_externally"]
                  },
                  "disputeType": {
                    "type": "string",
                    "enum": ["information-request", "first-chargeback", "second-chargeback", "fraud", "ethoca-alert", "verifi-alert", "paypal-claim", "representment", "rdr"]
                  },
                  "disputeReasonCode": {
                    "type": "string",
                    "enum": [
                      "0", "00", "1", "2", "3", "4", "5", "6", "7", "8", "9", 
                      "10.1", "10.2", "10.3", "10.4", "10.5", "11.1", "11.2", "11.3", 
                      "12", "12.1", "12.2", "12.3", "12.4", "12.5", "12.6", "12.7", 
                      "13.1", "13.2", "13.3", "13.4", "13.5", "13.6", "13.7", "13.8", "13.9", 
                      "30", "31", "34", "35", "37", "40", "41", "42", "46", "47", "49", 
                      "50", "51", "53", "54", "55", "57", "59", "60", "62", "63", 
                      "70", "71", "72", "73", "74", "75", "76", "77", "78", "79", 
                      "80", "81", "82", "83", "85", "86", "93", "98", "1000", 
                      "2700", "2702", "A", "A01", "A02", "A08", "AL", "AP", "AW", "B", 
                      "C02", "C04", "C05", "C08", "C14", "C18", "C28", "C31", "C32", "CA", "CD", "CR", 
                      "DA", "DP", "DP1", "EX", "F10", "F14", "F22", "F24", "F29", "FR1", "FR4", "FR6", 
                      "IC", "IN", "IS", "LP", "M01", "M10", "M49", "N", "NA", "NC", 
                      "P", "P01", "P03", "P04", "P05", "P07", "P08", "P22", "P23", 
                      "R03", "R13", "RG", "RM", "RN1", "RN2", "SV", "TF", "TNM", 
                      "UA01", "UA02", "UA03", "UA10", "UA11", "UA12", "UA18", 
                      "UA20", "UA21", "UA22", "UA23", "UA28", "UA30", "UA31", "UA32", "UA38", "UA99", 
                      "bank_cannot_process", "credit_not_processed", "customer_initiated", 
                      "debit_not_authorized", "duplicate", "fraudulent", "general", 
                      "incorrect_account_details", "insufficient_funds", "pre-chargeback-alert", 
                      "product_not_received", "product_unacceptable", "subscription_canceled", 
                      "unrecognized"
                    ]
                  },
                  "disputedTransactionId": { "type": "string" },
                  "disputeNote": { "type": "string" }
                },
                "required": ["paymentId"],
                "additionalProperties": false
              },
              "examples": {
                "rdr": {
                  "summary": "Update to RDR type",
                  "value": {
                    "paymentId": "pay_123xyz",
                    "disputeStatus": "under-review",
                    "disputeType": "rdr",
                    "disputeReasonCode": "fraudulent",
                    "metadata": {
                      "reason": "Rapid dispute resolution initiated",
                      "amount": 2999,
                      "resolutionType": "pre_dispute_resolution"
                    }
                  }
                },
                "alert": {
                  "summary": "Update to Alert type",
                  "value": {
                    "paymentId": "pay_123xyz",
                    "disputeStatus": "under-review",
                    "disputeType": "ethoca-alert",
                    "disputeReasonCode": "fraudulent",
                    "metadata": {
                      "alertType": "fraud_suspicious",
                      "description": "Suspicious activity detected"
                    }
                  }
                },
                "standard": {
                  "summary": "Standard dispute update",
                  "value": {
                    "paymentId": "pay_123xyz",
                    "disputeStatus": "under-review",
                    "disputeType": "first-chargeback",
                    "disputeReasonCode": "fraudulent",
                    "metadata": {
                      "reason": "Customer dispute",
                      "amount": 2999
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "id": "pay_123xyz",
                      "disputeStatus": "under-review",
                      "disputeType": "rdr",
                      "disputeReasonCode": "fraudulent",
                      "updatedAt": "2024-03-20T10:30:00Z",
                      "metadata": {
                        "reason": "Rapid dispute resolution initiated",
                        "amount": 2999,
                        "resolutionType": "pre_dispute_resolution"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/currencies": {
      "post": {
        "tags": ["Payments"],
        "summary": "Get payment currencies",
        "description": "Get all currencies used in payments for the authenticated account",
        "operationId": "getPaymentCurrencies",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Available currencies",
                    "value": {
                      "currencies": ["USD", "EUR", "GBP", "CAD"]
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/processors": {
      "post": {
        "tags": ["Payments"],
        "summary": "Get available processors",
        "description": "Get all enabled payment processors for the authenticated account",
        "operationId": "getAvailableProcessors",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Available processors",
                    "value": {
                      "processors": [
                        {
                          "id": "proc_stripe",
                          "name": "Stripe",
                          "type": "stripe"
                        },
                        {
                          "id": "proc_paypal",
                          "name": "PayPal",
                          "type": "paypal"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments/void": {
      "post": {
        "tags": ["Payments"],
        "summary": "Void payment",
        "description": "Void an authorized payment transaction. This cancels a previously authorized payment before it has been captured.\n\nImportant notes:\n- Only works for payments with 'authorized' status\n- Must be performed before the payment is captured\n- Once voided, the authorization is released and funds are no longer held\n- Cannot be undone once voided\n\nCommon error codes:\n- PAYMENT_NOT_FOUND: The specified payment does not exist\n- TRANSACTION_NOT_AUTHORIZE: The payment is not in authorized status\n- TRANSACTION_NO_PROCESSOR: No processor found for the transaction\n- TRANSACTION_VOID_FAILED: The void operation failed at the processor level",
        "operationId": "voidPayment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "paymentId": { "type": "string" }
                },
                "required": ["paymentId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Void authorized payment",
                  "value": {
                    "paymentId": "pay_123xyz"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful void",
                    "value": {
                      "id": "pay_123xyz",
                      "status": "failed",
                      "subStatus": "voided",
                      "amount": 2999,
                      "currency": "USD",
                      "voidedAt": "2024-03-20T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/block-rules/list": {
      "post": {
        "tags": ["Block Rules"],
        "summary": "List block rules",
        "description": "Get all block rules for the authenticated account with filtering and pagination",
        "operationId": "listBlockRules",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pagination": {
                    "type": "object",
                    "properties": {
                      "page": { "type": "number" },
                      "pageSize": { "type": "number" }
                    },
                    "required": ["page", "pageSize"],
                    "additionalProperties": false
                  },
                  "sortBy": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string",
                        "enum": ["id", "accountId", "createdAt", "updatedAt"]
                      },
                      "direction": {
                        "type": "string",
                        "enum": ["asc", "desc"]
                      }
                    },
                    "required": ["field", "direction"],
                    "additionalProperties": false
                  },
                  "filters": {
                    "type": "object",
                    "properties": {
                      "createdAt": { "type": "string" },
                      "name": { "type": "string" },
                      "operator": {
                        "type": "string",
                        "enum": ["AND", "OR"]
                      },
                      "ipAddress": { "type": "string" },
                      "customerId": { "type": "string" },
                      "email": { "type": "string" },
                      "bin": { "type": "string" },
                      "paymentId": { "type": "string" },
                      "autoCreated": { "type": "boolean" }
                    },
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Basic block rules list",
                  "value": {
                    "pagination": {
                      "page": 1,
                      "pageSize": 20
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful response",
                    "value": {
                      "items": [
                        {
                          "id": "rule_123",
                          "name": "Block High Risk Countries",
                          "enabled": true,
                          "type": "country",
                          "value": ["XX", "YY"],
                          "createdAt": "2024-03-20T10:30:00Z"
                        }
                      ],
                      "total": 1,
                      "pageCount": 1
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/block-rules/{id}": {
      "get": {
        "tags": ["Block Rules"],
        "summary": "Get block rule by ID",
        "description": "Retrieve detailed information about a specific block rule",
        "operationId": "getBlockRuleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Block rule details",
                    "value": {
                      "id": "rule_123",
                      "name": "Block High Risk Countries",
                      "enabled": true,
                      "type": "country",
                      "value": ["XX", "YY"],
                      "createdAt": "2024-03-20T10:30:00Z",
                      "updatedAt": "2024-03-20T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      },
      "put": {
        "tags": ["Block Rules"],
        "summary": "Update block rule",
        "description": "Update an existing block rule",
        "operationId": "updateBlockRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string", "minLength": 1 },
                      "operator": { "type": "string", "enum": ["OR", "AND"] },
                      "ipAddress": {
                        "anyOf": [
                          { "type": "string", "anyOf": [{ "format": "ipv4" }, { "format": "ipv6" }] },
                          { "type": "string", "enum": [""] }
                        ],
                        "nullable": true
                      },
                      "customerId": { "type": "string", "nullable": true },
                      "email": { "type": "string", "format": "email", "nullable": true },
                      "emailRegex": { "type": "string", "nullable": true },
                      "pan": { "type": "string", "nullable": true },
                      "panRegex": { "type": "string", "nullable": true },
                      "bin": { "type": "string", "nullable": true },
                      "binRegex": { "type": "string", "nullable": true },
                      "paymentId": { "type": "string", "nullable": true },
                      "autoCreated": { "type": "boolean", "default": false },
                      "isPermanent": { "type": "boolean", "default": false },
                      "ttlHours": { "type": "number", "minimum": 1, "maximum": 8760 },
                      "metadata": { 
                        "type": "object", 
                        "additionalProperties": { "type": "string" },
                        "nullable": true
                      }
                    },
                    "additionalProperties": false
                  }
                },
                "required": ["data"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Update block rule",
                  "value": {
                    "data": {
                      "name": "Updated Block Rule Name",
                      "enabled": false
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful update",
                    "value": {
                      "id": "rule_123",
                      "name": "Updated Block Rule Name",
                      "enabled": false,
                      "type": "country",
                      "value": ["XX", "YY"],
                      "updatedAt": "2024-03-20T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      },
      "delete": {
        "tags": ["Block Rules"],
        "summary": "Delete block rule",
        "description": "Delete a block rule by ID",
        "operationId": "deleteBlockRule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful deletion",
                    "value": {
                      "success": true
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/block-rules": {
      "post": {
        "tags": ["Block Rules"],
        "summary": "Create block rule",
        "description": "Create a new block rule for fraud prevention",
        "operationId": "createBlockRule",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "minLength": 1 },
                  "operator": { "type": "string", "enum": ["OR", "AND"] },
                  "ipAddress": {
                    "anyOf": [
                      { "type": "string", "anyOf": [{ "format": "ipv4" }, { "format": "ipv6" }] },
                      { "type": "string", "enum": [""] }
                    ],
                    "nullable": true
                  },
                  "customerId": { "type": "string", "nullable": true },
                  "email": { "type": "string", "format": "email", "nullable": true },
                  "emailRegex": { "type": "string", "nullable": true },
                  "pan": { "type": "string", "nullable": true },
                  "panRegex": { "type": "string", "nullable": true },
                  "bin": { "type": "string", "nullable": true },
                  "binRegex": { "type": "string", "nullable": true },
                  "paymentId": { "type": "string", "nullable": true },
                  "autoCreated": { "type": "boolean", "default": false },
                  "isPermanent": { "type": "boolean", "default": false },
                  "ttlHours": { "type": "number", "minimum": 1, "maximum": 8760 },
                  "metadata": { 
                    "type": "object", 
                    "additionalProperties": { "type": "string" },
                    "nullable": true
                  }
                },
                "required": ["name", "operator"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Create country block rule",
                  "value": {
                    "name": "Block High Risk Countries",
                    "operator": "OR",
                    "type": "country",
                    "value": ["XX", "YY"],
                    "enabled": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful creation",
                    "value": {
                      "id": "rule_123",
                      "name": "Block High Risk Countries",
                      "enabled": true,
                      "type": "country",
                      "value": ["XX", "YY"],
                      "createdAt": "2024-03-20T10:30:00Z"
                    }
                  }
                }
              }
            }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      },
      "get": {
        "tags": ["Block Rules"],
        "summary": "List block rules",
        "responses": {
          "200": { "description": "List of block rules" }
        }
      }
    },
    "/plugins/deploy": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Deploy plugin version from CLI",
        "description": "Deploy a new version of a plugin to the CMS from the CLI tool. Supports custom domains for direct-mode plugins. Validates that custom domain + path combinations are unique to prevent conflicts.",
        "operationId": "deployPluginVersion",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "pluginData": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "pluginData"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful deployment",
                    "value": {
                      "success": true,
                      "deployment": {
                        "pluginId": "sample-funnel",
                        "version": "1.0.0",
                        "url": "https://blob.vercel-storage.com/plugins/sample-funnel/1.0.0/plugin.zip",
                        "deployedAt": "2024-03-20T10:30:00Z",
                        "size": 1024000
                      },
                      "message": "Plugin Sample Funnel Plugin v1.0.0 deployed successfully"
                    }
                  },
                  "conflict": {
                    "summary": "Custom domain conflict",
                    "value": {
                      "error": "Custom domain conflict: Another plugin is already deployed to checkout.example.com/. Please use a different path."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/deploy-from-blob": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Deploy plugin from blob URL",
        "description": "Deploy a plugin from a blob URL. This endpoint is used after uploading a large ZIP file to blob storage to bypass the 4.5MB serverless function limit.",
        "operationId": "deployPluginFromBlob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blobUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "pluginData": {
                    "type": "string"
                  }
                },
                "required": [
                  "blobUrl",
                  "pluginData"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Deploy from blob URL",
                  "value": {
                    "blobUrl": "https://blob.vercel-storage.com/plugins/plugin.zip",
                    "pluginData": "{\"pluginId\":\"sample-funnel\",\"version\":\"1.0.0\",\"name\":\"Sample Funnel Plugin\",\"description\":\"A sample funnel plugin\",\"author\":\"Apptics Team\",\"storeId\":\"store_123\",\"mode\":\"direct-mode\"}"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful deployment from blob",
                    "value": {
                      "success": true,
                      "deployment": {
                        "pluginId": "sample-funnel",
                        "version": "1.0.0",
                        "url": "https://sample-funnel-abc123.cdn.apptics.dev/",
                        "deployedAt": "2024-03-20T10:30:00Z",
                        "size": 15000000
                      },
                      "message": "Plugin Sample Funnel Plugin v1.0.0 deployed successfully from blob"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/deploy-from-marketplace": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Deploy plugin from marketplace",
        "description": "Deploy a plugin from the public marketplace",
        "operationId": "deployPluginFromMarketplace",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pluginId": {
                    "type": "string"
                  },
                  "pluginData": {
                    "type": "string"
                  },
                  "storeId": {
                    "type": "string"
                  }
                },
                "required": [
                  "pluginId",
                  "pluginData",
                  "storeId"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/promote-to-custom-domain": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Promote plugin to custom domain",
        "description": "Promote a plugin to a custom domain. This will create a new route for the plugin.",
        "operationId": "promotePluginToCustomDomain",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  },
                  "customDomain": {
                    "type": "string"
                  },
                  "basePath": {
                    "type": "string",
                    "default": "/"
                  }
                },
                "required": [
                  "deploymentId",
                  "customDomain"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Promote plugin to custom domain",
                  "value": {
                    "pluginId": "sample-funnel-v1-abc123",
                    "storeId": "store_123",
                    "hostname": "checkout.example.com",
                    "path": "/checkout"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful promotion",
                    "value": {
                      "success": true,
                      "message": "Plugin promoted to custom domain successfully",
                      "route": {
                        "id": "route_123",
                        "pluginId": "sample-funnel-v1-abc123",
                        "storeId": "store_123",
                        "hostname": "checkout.example.com",
                        "path": "/checkout",
                        "createdAt": "2024-03-20T10:30:00Z"
                      }
                    }
                  },
                  "conflict": {
                    "summary": "Custom domain conflict",
                    "value": {
                      "error": "Custom domain conflict: Another plugin is already deployed to checkout.example.com/. Please use a different path."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/promote-to-alias": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Promote plugin deployment to alias",
        "description": "Promote an existing plugin deployment to a new alias. This reassigns the alias without creating a new deployment.",
        "operationId": "promotePluginToAlias",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  },
                  "alias": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$"
                  }
                },
                "required": [
                  "deploymentId",
                  "alias"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Promote to alias",
                  "value": {
                    "deploymentId": "plugin_deployment_abc123",
                    "alias": "checkout"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful alias promotion",
                    "value": {
                      "success": true,
                      "url": "http://checkout.store_123.cdn.localhost:3000/",
                      "message": "Deployment promoted successfully to alias \"checkout\"",
                      "alias": "checkout"
                    }
                  },
                  "conflict": {
                    "summary": "Alias already exists",
                    "value": {
                      "success": true,
                      "message": "Alias \"checkout\" already points to this deployment",
                      "url": "http://checkout.store_123.cdn.localhost:3000/"
                    }
                  }
                }
              }
            }
          },
          "/plugins/v2/mount": {
      "post": {
        "tags": [
          "Plugins V2"
        ],
        "summary": "Mount plugin (V2)",
        "description": "Mount a deployment to a target (hostname, alias, or custom domain)",
        "operationId": "mountPluginV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  },
                  "deploymentInstanceId": {
                    "type": "string"
                  },
                  "storeId": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "alias": {
                    "type": "string",
                    "pattern": "^[a-z0-9-]+$"
                  },
                  "customDomain": {
                    "type": "string"
                  },
                  "basePath": {
                    "type": "string",
                    "default": "/"
                  },
                  "matcher": {
                    "type": "string"
                  },
                  "excluder": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "number"
                  },
                  "config": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "force": {
                    "type": "boolean",
                    "default": false
                  },
                  "isPreview": {
                    "type": "boolean"
                  },
                  "pathRemap": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string",
                        "pattern": "^\\/"
                      },
                      "to": {
                        "type": "string",
                        "pattern": "^\\/"
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ],
                    "additionalProperties": false
                  },
                  "metadata": {
                    "type": "object",
                    "additionalProperties": {}
                  },
                  "htmlInjections": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "metadataKey": {
                          "type": "string"
                        },
                        "tagName": {
                          "type": "string"
                        },
                        "windowVariable": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "metadataKey",
                        "tagName"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "splitConfig": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "weighted",
                          "geo"
                        ]
                      },
                      "instances": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "instanceId": {
                              "type": "string"
                            },
                            "weight": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 100
                            },
                            "regions": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "metadata": {
                              "type": "object",
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "instanceId"
                          ],
                          "additionalProperties": false
                        },
                        "minItems": 2
                      },
                      "stickyDuration": {
                        "type": "number",
                        "default": 604800
                      }
                    },
                    "required": [
                      "type",
                      "instances"
                    ],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "deploymentId",
                  "storeId"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Mount to hostname",
                  "value": {
                    "deploymentId": "plugin_deployment_abc123",
                    "storeId": "store_abc123",
                    "hostname": "cdn.example.com",
                    "basePath": "/",
                    "matcher": ".*"
                  }
                },
                "customDomain": {
                  "summary": "Mount to custom domain",
                  "value": {
                    "deploymentId": "plugin_deployment_abc123",
                    "storeId": "store_abc123",
                    "customDomain": "checkout.example.com",
                    "basePath": "/checkout",
                    "matcher": "/checkout/.*"
                  }
                },
                "alias": {
                  "summary": "Mount to alias",
                  "value": {
                    "deploymentId": "plugin_deployment_abc123",
                    "storeId": "store_abc123",
                    "alias": "checkout",
                    "basePath": "/"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/v2/route/update": {
      "post": {
        "tags": [
          "Plugins V2"
        ],
        "summary": "Update route (V2)",
        "description": "Update route matcher, excluder, and priority for an existing instance",
        "operationId": "post-api-public-v1-plugins-v2-route-update",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  },
                  "deploymentInstanceId": {
                    "type": "string"
                  },
                  "routeId": {
                    "type": "string"
                  },
                  "storeId": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "alias": {
                    "type": "string"
                  },
                  "customDomain": {
                    "type": "string"
                  },
                  "basePath": {
                    "type": "string",
                    "default": "/"
                  },
                  "matcher": {
                    "type": "string"
                  },
                  "excluder": {
                    "type": "string"
                  },
                  "priority": {
                    "type": "number"
                  }
                },
                "required": [
                  "deploymentId",
                  "storeId",
                  "matcher"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Update route matcher",
                  "value": {
                    "deploymentInstanceId": "plugin_instance_abc123",
                    "storeId": "store_abc123",
                    "matcher": "/checkout/.*",
                    "excluder": "/checkout/admin/.*",
                    "priority": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/v2/unmount": {
      "post": {
        "tags": [
          "Plugins V2"
        ],
        "summary": "Remove route(s) from instance (V2)",
        "description": "Remove route(s) from an instance. If routeId is provided, removes that specific route. If routeId is not provided, removes ALL routes for the instance (complete unmount).",
        "operationId": "post-api-public-v1-plugins-v2-unmount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "instanceId": {
                    "type": "string"
                  },
                  "storeId": {
                    "type": "string"
                  },
                  "routeId": {
                    "type": "string"
                  }
                },
                "required": [
                  "instanceId",
                  "storeId"
                ],
                "additionalProperties": false
              },
              "examples": {
                "removeAllRoutes": {
                  "summary": "Remove all routes from instance (complete unmount)",
                  "value": {
                    "instanceId": "plugin_instance_abc123",
                    "storeId": "store_abc123"
                  }
                },
                "removeSpecificRoute": {
                  "summary": "Remove specific route from instance",
                  "value": {
                    "instanceId": "plugin_instance_abc123",
                    "storeId": "store_abc123",
                    "routeId": "route_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/undeploy": {
      "post": {
        "tags": [
          "Plugins"
        ],
        "summary": "Undeploy plugin",
        "description": "Remove a deployed plugin and make it inactive",
        "operationId": "undeployPlugin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": {
                    "type": "string"
                  }
                },
                "required": [
                  "deploymentId"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Undeploy plugin",
                  "value": {
                    "pluginId": "sample-funnel-v1-abc123",
                    "storeId": "store_123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful undeploy",
                    "value": {
                      "success": true,
                      "message": "Plugin undeployed successfully"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/v2/swap": {
      "post": {
        "tags": [
          "Plugins V2"
        ],
        "summary": "Swap instance (V2)",
        "description": "Swap an instance (atomic unmount + mount for switching)",
        "operationId": "post-api-public-v1-plugins-v2-swap",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currentDeploymentId": {
                    "type": "string"
                  },
                  "currentDeploymentInstanceId": {
                    "type": "string"
                  },
                  "storeId": {
                    "type": "string"
                  },
                  "hostname": {
                    "type": "string"
                  },
                  "alias": {
                    "type": "string"
                  },
                  "customDomain": {
                    "type": "string"
                  },
                  "basePath": {
                    "type": "string",
                    "default": "/"
                  },
                  "targetDeploymentId": {
                    "type": "string"
                  },
                  "targetDeploymentInstanceId": {
                    "type": "string"
                  },
                  "matcher": {
                    "type": "string"
                  },
                  "excluder": {
                    "type": "string"
                  },
                  "pathRemap": {
                    "type": "object",
                    "properties": {
                      "from": {
                        "type": "string"
                      },
                      "to": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "from",
                      "to"
                    ],
                    "additionalProperties": false
                  },
                  "routeId": {
                    "type": "string"
                  }
                },
                "required": [
                  "currentDeploymentId",
                  "currentDeploymentInstanceId",
                  "storeId",
                  "targetDeploymentId",
                  "targetDeploymentInstanceId"
                ],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Swap instances",
                  "value": {
                    "currentDeploymentId": "plugin_deployment_old123",
                    "currentDeploymentInstanceId": "plugin_instance_old123",
                    "targetDeploymentId": "plugin_deployment_new456",
                    "targetDeploymentInstanceId": "plugin_instance_new456",
                    "storeId": "store_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/list": {
      "post": {
        "tags": ["Plugins"],
        "summary": "List plugins for a store",
        "description": "Get all plugins associated with a specific store",
        "operationId": "listPluginsForStore",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" }
                },
                "required": ["storeId"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/plugins/v2/list": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "List all plugins (V2)",
        "description": "List all plugins for the account with their deployments using V2 schema",
        "operationId": "listAllPluginsV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" },
                  "includeInactive": { "type": "boolean", "default": false },
                  "search": { "type": "string" },
                  "publicOnly": { "type": "boolean" },
                  "privateOnly": { "type": "boolean" },
                  "features": { "type": "array", "items": { "type": "string" } }
                },
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "List all plugins for account",
                  "value": {
                    "storeId": "store_abc123",
                    "includeInactive": false
                  }
                },
                "withFilters": {
                  "summary": "List plugins with filters",
                  "value": {
                    "storeId": "store_abc123",
                    "includeInactive": true,
                    "search": "checkout",
                    "publicOnly": false,
                    "features": ["checkout", "payment"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/features": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "Get available features (V2)",
        "description": "Get available features across all deployments for filtering",
        "operationId": "post-api-public-v1-plugins-v2-features",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" },
                  "publicOnly": { "type": "boolean" },
                  "privateOnly": { "type": "boolean" }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/domains": {
      "get": {
        "tags": ["Plugins V2"],
        "summary": "List verified domains (V2)",
        "description": "List all verified custom domains for the account",
        "operationId": "post-api-public-v1-plugins-v2-domains",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/mount-points": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "List mount points (V2)",
        "description": "List all mount points grouped by route (hostname + basePath)",
        "operationId": "post-api-public-v1-plugins-v2-mount-points",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" },
                  "lightweight": { "type": "boolean", "default": true },
                  "includeDirectInstanceRoutes": { "type": "boolean", "default": false }
                },
                "required": ["storeId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "List mount points for a store",
                  "value": {
                    "storeId": "store_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/instances": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "List instances (V2)",
        "description": "List all instances for a store (including those without routes)",
        "operationId": "post-api-public-v1-plugins-v2-instances",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" },
                  "deploymentId": { "type": "string" }
                },
                "required": ["storeId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "List instances for a store",
                  "value": {
                    "storeId": "store_abc123"
                  }
                },
                "withDeployment": {
                  "summary": "List instances for specific deployment",
                  "value": {
                    "storeId": "store_abc123",
                    "deploymentId": "plugin_deployment_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/details": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "Get plugin details (V2)",
        "description": "Get detailed information about a specific plugin",
        "operationId": "post-api-public-v1-plugins-v2-details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pluginId": { "type": "string" },
                  "storeId": { "type": "string" }
                },
                "required": ["pluginId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Get plugin details",
                  "value": {
                    "pluginId": "checkout-plugin"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/v2/deployment/details": {
      "post": {
        "tags": ["Plugins V2"],
        "summary": "Get deployment details (V2)",
        "description": "Get detailed information about a specific deployment with instances and routes",
        "operationId": "post-api-public-v1-plugins-v2-deployment-details",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "deploymentId": { "type": "string" },
                  "storeId": { "type": "string" }
                },
                "required": ["deploymentId", "storeId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Get deployment details",
                  "value": {
                    "deploymentId": "plugin_deployment_abc123",
                    "storeId": "store_abc123"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": { "application/json": { "schema": {} } }
          },
          "default": { "$ref": "#/components/responses/error" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/plugins/deployments": {
      "post": {
        "tags": ["Plugins"],
        "summary": "List plugin deployments",
        "description": "Get all deployments for plugins in a store",
        "operationId": "listPluginDeployments",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "storeId": { "type": "string" }
                },
                "required": ["storeId"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/plugins/public/{id}": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "summary": "Get public plugins",
        "description": "Get all public plugins",
        "operationId": "getPublicPlugins",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins-count": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "summary": "Count public plugins by type",
        "description": "Get a count of public plugins grouped by type. This endpoint is completely public and requires no authentication.\n\nReturns counts for each plugin type:\n- landing: Landing page plugins\n- checkout: Checkout and payment plugins\n- advertorial: Advertorial and marketing plugins\n- loyalty: Customer loyalty and retention plugins\n- postpurchase: Post-purchase experience plugins",
        "operationId": "getPublicPluginsCount",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Plugin counts by type",
                    "value": [
                      {
                        "type": "landing",
                        "count": 15
                      },
                      {
                        "type": "checkout",
                        "count": 8
                      },
                      {
                        "type": "advertorial",
                        "count": 12
                      },
                      {
                        "type": "loyalty",
                        "count": 6
                      },
                      {
                        "type": "postpurchase",
                        "count": 4
                      }
                    ]
                  },
                  "empty": {
                    "summary": "No public plugins found",
                    "value": []
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins/{id}": {
      "get": {
        "tags": [
          "Plugins"
        ],
        "summary": "Get plugin by ID",
        "description": "Retrieve a specific plugin by its ID",
        "operationId": "getPluginById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/plugins": {
      "get": {
        "tags": ["Plugins"],
[...]
