{
  "openapi": "3.1.0",
  "info": {
    "title": "Apptics API",
    "description": "Public API for Apptics integrations including payments, checkout, and subscriptions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://crm.apptics.ai/api/public/v1",
      "description": "Production Server"
    },
    {
      "url": "https://crm.apptics.dev/api/public/v1",
      "description": "Development Server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    { "name": "Auth" },
    { "name": "Checkout" },
    { "name": "Payments" },
    { "name": "Block Rules" },
    { "name": "Plugins" },
    { "name": "Domains" },
    { "name": "Orders" },
    { "name": "Subscriptions" },
    { "name": "Products" },
    { "name": "Events" },
    { "name": "Customers" },
    { "name": "Payment Instruments" },
    { "name": "Stores" }
  ],
  "paths": {
    "/auth/test": {
      "post": {
        "tags": ["Auth"],
        "summary": "Test authentication",
        "description": "Test if the API key is valid and return user information.",
        "operationId": "testAuthentication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "example": {}
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/init": {
      "get": {
        "tags": ["Checkout"],
        "summary": "Initialize checkout session",
        "description": "Initialize a checkout session and automatically redirect to the checkout URL. This endpoint works exactly like the current CMS checkout-init page - you can navigate to it with query parameters and it will automatically redirect the browser to the checkout page.\n\nPerfect for direct links, email links, or anywhere you want automatic redirection.\n\n**This endpoint is completely public and requires no authentication.**\n\nExample usage:\n```\nGET /api/public/v1/checkout/init?storeId=store_123&items=[{\"variantId\":\"var_123\",\"quantity\":1}]&currency=USD\n→ Redirects to: [https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz](https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz)\n```",
        "operationId": "initializeCheckoutSession",
        "parameters": [
          { "name": "data", "in": "query", "schema": { "type": "string" } },
          { "name": "storeId", "in": "query", "schema": { "type": "string" } },
          { "name": "items", "in": "query", "schema": { "type": "string" } },
          { "name": "currency", "in": "query", "schema": { "type": "string" } },
          { "name": "locale", "in": "query", "schema": { "type": "string" } },
          { "name": "cartToken", "in": "query", "schema": { "type": "string" } },
          { "name": "returnUrl", "in": "query", "schema": { "type": "string" } },
          { "name": "cid", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "example": "HTTP 302 Redirect to: https://checkout.apptics.ai/checkout/ch_abc123/op?token=cms_token_xyz"
                }
              }
            }
          }
        }
      }
    },
    "/checkout/pay-v2": {
      "post": {
        "tags": ["Checkout"],
        "summary": "Pay checkout session V2",
        "description": "Pay for a checkout session with enhanced control over payment initiation.\n\nThis V2 endpoint provides additional parameters:\n- initiatedBy: Specify whether payment was initiated by 'customer' (default) or 'merchant'\n- source: Specify the payment source, defaults to 'checkout'\n\nThese parameters are used for tracking and analytics purposes.",
        "operationId": "payCheckoutSessionV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "checkoutSessionId": { "type": "string" },
                  "paymentInstrumentId": { "type": "string" },
                  "returnUrl": { "type": "string" },
                  "metadata": { 
                    "type": "object",
                    "additionalProperties": {},
                    "default": {}
                  },
                  "draft": { 
                    "type": "boolean",
                    "default": false
                  },
                  "initiatedBy": {
                    "type": "string",
                    "enum": ["customer", "merchant"],
                    "default": "customer"
                  },
                  "source": {
                    "type": "string",
                    "enum": ["upsell", "checkout", "offer", "missing_club", "forced"],
                    "default": "checkout"
                  }
                },
                "required": ["checkoutSessionId"],
                "additionalProperties": false
              },
              "examples": {
                "basic": {
                  "summary": "Basic payment",
                  "value": {
                    "checkoutSessionId": "ch_1234567890",
                    "paymentInstrumentId": "pi_1234567890"
                  }
                },
                "withParameters": {
                  "summary": "Payment with custom parameters",
                  "value": {
                    "checkoutSessionId": "ch_1234567890",
                    "paymentInstrumentId": "pi_1234567890",
                    "initiatedBy": "customer",
                    "source": "checkout",
                    "returnUrl": "https://mystore.com/success"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {},
                "examples": {
                  "success": {
                    "summary": "Successful payment",
                    "value": {
                      "order": {
                        "id": "ord_1234567890",
                        "status": "paid",
                        "totalAmount": 2999,
                        "currency": "USD"
                      },
                      "payment": {
                        "id": "pay_1234567890",
                        "status": "succeeded",
                        "amount": 2999,
                        "currency": "USD"
                      },
                      "redirectUrl": "https://mystore.com/thankyou/ord_1234567890"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "security": [
          { "bearerAuth": [] }
        ]
      }
    },
    "/payments": {
      "post": {
        "tags": ["Payments"],
        "summary": "Process payment",
        "responses": {
          "200": { "description": "Payment successful" }
        }
      }
    },
    "/block-rules": {
      "get": {
        "tags": ["Block Rules"],
        "summary": "List block rules",
        "responses": {
          "200": { "description": "List of block rules" }
        }
      }
    },
    "/plugins": {
      "get": {
        "tags": ["Plugins"],
        "summary": "List plugins",
        "responses": {
          "200": { "description": "List of plugins" }
        }
      }
    },
    "/domains": {
      "get": {
        "tags": ["Domains"],
        "summary": "List domains",
        "responses": {
          "200": { "description": "List of domains" }
        }
      }
    },
    "/orders": {
      "get": {
        "tags": ["Orders"],
        "summary": "List orders",
        "responses": {
          "200": { "description": "List of orders" }
        }
      }
    },
    "/subscriptions": {
      "get": {
        "tags": ["Subscriptions"],
        "summary": "List subscriptions",
        "responses": {
          "200": { "description": "List of subscriptions" }
        }
      }
    },
    "/products": {
      "get": {
        "tags": ["Products"],
        "summary": "List products",
        "responses": {
          "200": { "description": "List of products" }
        }
      }
    },
    "/events": {
      "get": {
        "tags": ["Events"],
        "summary": "List events",
        "responses": {
          "200": { "description": "List of events" }
        }
      }
    },
    "/customers": {
      "get": {
        "tags": ["Customers"],
        "summary": "List customers",
        "responses": {
          "200": { "description": "List of customers" }
        }
      }
    },
    "/payment-instruments": {
      "get": {
        "tags": ["Payment Instruments"],
        "summary": "List payment instruments",
        "responses": {
          "200": { "description": "List of payment instruments" }
        }
      }
    },
    "/stores": {
      "get": {
        "tags": ["Stores"],
        "summary": "List stores",
        "responses": {
          "200": { "description": "List of stores" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your API key as: `Bearer <your-api-key>`"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "success": { 
            "type": "boolean",
            "example": true
          },
          "user": {
            "type": "object",
            "properties": {
              "id": { 
                "type": "string",
                "example": "user_123"
              },
              "orgId": { 
                "type": "string",
                "example": "org_456"
              },
              "permissions": {
                "type": "array",
                "items": { "type": "string" },
                "example": ["org:admin"]
              },
              "account": {
                "type": "object",
                "properties": {
                  "id": { 
                    "type": "string",
                    "example": "acc_789"
                  },
                  "name": { 
                    "type": "string",
                    "example": "My Account"
                  }
                }
              },
              "isServiceAccount": { 
                "type": "boolean",
                "example": false
              },
              "isAccountOwner": { 
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      }
    },
    "responses": {
      "error": {
        "description": "Error response",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "code": { "type": "string" },
                "issues": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "message": { "type": "string" }
                    },
                    "required": ["message"],
                    "additionalProperties": false
                  }
                }
              },
              "required": ["message", "code"],
              "additionalProperties": false
            }
          }
        }
      }
    }
  }
}